@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (min-width: 768px) and (max-width: 1260px) {
  html {
    font-size: 0.7936507937vw;
  }
}
@media (min-width: 1260px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 2.6666666667vw;
  }
}

body {
  font-weight: 400;
  color: #454241;
  background-color: #FAF6F1;
  font-family: "YuGothic", "Yu Gothic", "Noto Sans JP", "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
label,
input,
a,
ul,
li {
  display: block;
}

.header-padding {
  padding-top: 5.6rem;
}
@media screen and (min-width: 768px) {
  .header-padding {
    padding-top: 9.2rem;
  }
}

img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.inner {
  padding-inline: 2.75rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .inner {
    padding-inline: 3rem;
    max-width: 126rem;
  }
}

a {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media screen and (min-width: 768px) {
  .pc_none {
    display: none !important;
  }
  .sp_none {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .sp_none {
    display: none !important;
  }
  .pc_none {
    display: block;
  }
}
a {
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section-title {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 4rem;
  }
}
.section-title span {
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .section-title span {
    font-size: 2rem;
  }
}

.color-base-white {
  color: #FAF6F1;
}

.color-base-white-bg {
  background-color: #FAF6F1;
}

.color-white {
  color: #FFFFFF;
}

.color-white-bg {
  background-color: #FFFFFF;
}

.color-accent-bg {
  color: #FFFFFF;
  background-color: #FF8426;
}

.color-gray-bg {
  background-color: #E8DFD4;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #FAF6F1;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 2.8rem;
  height: 5.6rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header-content {
    padding-top: 0.3rem;
    padding-inline: 10rem;
    height: 9.2rem;
    max-width: 126rem;
  }
}

.header__logo {
  width: 8rem;
  height: 4rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 11rem;
    height: 6rem;
  }
}

.sp__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
}

@media screen and (min-width: 768px) {
  .header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4rem;
  }
  .header__nav ul li {
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 0.1em;
  }
  .header__nav ul li span {
    font-size: 1.4rem;
    letter-spacing: 0;
  }
}
.footer__before__content {
  position: relative;
}
.footer__before__content .footer__before__content-image {
  position: relative;
}
.footer__before__content .footer__before__content-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(41, 41, 41, 0.5);
  z-index: 1;
  pointer-events: none;
}
.footer__before__content .footer__before__content-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.footer__before__content__box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  z-index: 10;
}
.footer__before__content__box p {
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.footer__before__content__box-title {
  font-size: 6.4rem;
}
@media screen and (min-width: 768px) {
  .footer__before__content__box-title {
    font-size: 10rem;
  }
}

.btn-footer {
  margin: 2.4rem auto 0;
}

footer {
  background-color: #454241;
  color: #FFFFFF;
  padding: 2.4rem 0 1.6rem;
}
@media screen and (min-width: 768px) {
  footer {
    padding: 4rem 0 2.4rem;
  }
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 8rem;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}
@media screen and (min-width: 768px) {
  .footer__content {
    gap: 4rem;
  }
}

.footer__content-box {
  letter-spacing: 0.1em;
}
.footer__content-box p {
  position: relative;
  padding-left: 1.2rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .footer__content-box p {
    font-size: 1.6rem;
    cursor: default;
  }
}
.footer__content-box p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.3rem;
  height: 1.6em;
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer__content-box p::before {
    width: 0.4rem;
    height: 2em;
  }
}
@media screen and (max-width: 767px) {
  .footer__content-box p::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 1.2rem;
    height: 1.4rem;
    background-image: url("/image/common/logo_accordion-toggle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
}
@media screen and (max-width: 767px) {
  .footer__content-box.is-open p::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
  }
}
.footer__content-box ul {
  margin-top: 1.2rem;
}
@media screen and (min-width: 768px) {
  .footer__content-box ul {
    margin-top: 0.8rem;
  }
}
.footer__content-box ul li a {
  font-size: 1.4rem;
}
@media screen and (max-width: 767px) {
  .footer__content-box .footer__accordion-content {
    display: none;
  }
  .footer__content-box.is-open .footer__accordion-content {
    display: block;
  }
}

.footer__logo {
  margin-top: 1.2rem;
  width: 14rem;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin-top: 1.1rem;
    margin-inline: auto;
    width: 11rem;
  }
}

.footer__copyright {
  background-color: #E8DFD4;
  color: #454241;
  padding: 2rem 0;
}
.footer__copyright p {
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 700;
  line-height: 1;
}

.c-round-box {
  border-radius: 30px;
  -webkit-box-shadow: 4px 4px 8px 0 rgba(54, 52, 51, 0.5);
          box-shadow: 4px 4px 8px 0 rgba(54, 52, 51, 0.5);
}

.c-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.9rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .c-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 2.4rem;
  }
}

.c-box-image {
  width: 10rem;
}

.c-box-text {
  letter-spacing: 0.1em;
  font-weight: 700;
}

.c-box-text-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .c-box-text-title {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: left;
    gap: 1.5rem;
  }
}
.c-box-text-title h3 {
  text-align: center;
  font-size: 1.4rem;
  display: block;
}
@media screen and (min-width: 768px) {
  .c-box-text-title h3 {
    text-align: left;
  }
}
.c-box-text-title h3::after {
  content: "";
  display: block;
  width: 6rem;
  height: 1px;
  background-color: #FF5A37;
  margin: 0.8rem auto 0;
}
@media screen and (min-width: 768px) {
  .c-box-text-title h3::after {
    margin: 0.8rem 0 0;
  }
}
@media screen and (min-width: 768px) {
  .c-box-text-title p {
    font-size: 2.4rem;
    line-height: 1.4;
  }
}

.c-box-text-content {
  margin-top: 2.1rem;
}
@media screen and (min-width: 768px) {
  .c-box-text-content {
    margin-top: 0.8rem;
  }
}

.c-box-link {
  width: 3.4rem;
  height: 3.4rem;
  position: absolute;
  bottom: 1.7rem;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #454241;
  border-radius: 50%;
}
.c-box-link .icon-triangle {
  color: #FAF6F1;
  width: 1.1rem;
  height: 1.3rem;
  margin-left: 0.2rem;
}
@media screen and (min-width: 768px) {
  .c-box-link {
    bottom: 3.2rem;
    right: 3.8rem;
  }
}

.c-btn {
  border-radius: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4rem;
  padding: 1.2rem 2.4rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.c-black-btn {
  background-color: #454241;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.c-black-btn .icon-triangle {
  color: #FFFFFF;
  width: 1.1rem;
  height: 1.3rem;
}

.c-white-btn {
  background-color: #FFFFFF;
  border: 1px solid #454241;
  color: #454241;
  letter-spacing: 0.1em;
  font-weight: 700;
}
.c-white-btn .icon-triangle {
  color: #454241;
  width: 1.1rem;
  height: 1.3rem;
}

.hamburger {
  position: relative;
  width: 3rem;
  height: 1.6rem;
  cursor: pointer;
  /* active状態 */
}
.hamburger.active .hamburger-line {
  background: transparent;
}
.hamburger.active .hamburger-line::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hamburger.active .hamburger-line::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* 三本線 */
.hamburger-line,
.hamburger-line::before,
.hamburger-line::after {
  position: absolute;
  left: 0;
  width: 3rem;
  height: 0.1rem;
  background-color: #454241;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hamburger-line::before, .hamburger-line::after {
  content: "";
  left: 0;
}
.hamburger-line::before {
  top: -0.8rem;
}
.hamburger-line::after {
  top: 0.8rem;
}

.hamburger-menu {
  position: fixed;
  top: 5rem;
  right: 0;
  width: 30rem;
  background: #FF5A37;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.hamburger-menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.hamburger-menu nav {
  width: 100%;
}
.hamburger-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin: 0;
}
.hamburger-menu nav ul li a {
  display: block;
  padding: 1.5rem 0 1.5rem 2rem;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

/* ハンバーガー背景 */
.hamburger-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1001;
  pointer-events: none;
}
.hamburger-bg.active {
  pointer-events: auto;
}

.btn-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  border: 2px solid #fff;
  background: -webkit-gradient(linear, left top, right top, from(#FF5A37), to(#FFDF75));
  background: linear-gradient(90deg, #FF5A37 0%, #FFDF75 100%);
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.btn-entry:hover {
  opacity: 0.8;
}

.btn-header {
  width: 11rem;
  height: 3.6rem;
}
@media screen and (min-width: 768px) {
  .btn-header {
    width: 14.2rem;
    height: 4.4rem;
  }
}

.btn-footer {
  width: 14.2rem;
  height: 4.4rem;
}
@media screen and (min-width: 768px) {
  .btn-footer {
    width: 14.2rem;
    height: 4.4rem;
  }
}

.top__fv {
  padding-top: 7.6rem;
  padding-bottom: 6rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .top__fv {
    padding-top: 15.4rem;
    padding-bottom: 12.5rem;
  }
}

.top__fv-title {
  position: absolute;
  top: 3.2rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  width: 69.3333333333vw;
  margin: 0 auto;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .top__fv-title {
    top: 3.9rem;
    width: 46.4285714286vw;
  }
}

.top__fv-image {
  width: 100%;
}

.top__vertical-writing {
  position: relative;
}

.top__vertical-writing__bg {
  position: absolute;
  top: -20rem;
  right: 0;
  width: 16rem;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .top__vertical-writing__bg {
    top: -36rem;
    width: 39rem;
  }
}

.top__vertical-writing .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.top__vertical-writing .inner p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 1.6666666667;
  letter-spacing: 0.4em;
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .top__vertical-writing .inner p {
    font-size: 4rem;
  }
}

.top__vision {
  margin-top: -6rem;
  padding-bottom: 6rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .top__vision {
    margin-top: -32rem;
    padding-bottom: 12rem;
  }
}
.top__vision p {
  margin-top: 2.4rem;
  line-height: 2;
  letter-spacing: 0.1em;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .top__vision p {
    font-size: 2rem;
  }
}

.top__vision__bg1 {
  position: absolute;
  top: -15rem;
  left: 0;
  width: 15.7rem;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .top__vision__bg1 {
    top: -26rem;
    left: 20rem;
    width: 37rem;
  }
}

.top__vision__bg2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 13.8rem;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .top__vision__bg2 {
    width: 29.4rem;
  }
}

.top__about {
  background-image: url(../image/top/bg_top_about_sp.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 6.5rem;
  padding-bottom: 6rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(69, 66, 65, 0.5)), to(rgba(69, 66, 65, 0.5))), url(../image/top/bg_top_about_sp.png);
  background-image: linear-gradient(rgba(69, 66, 65, 0.5), rgba(69, 66, 65, 0.5)), url(../image/top/bg_top_about_sp.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .top__about {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}

.top__about-box {
  padding: 3.2rem 1.95rem 6.5rem;
}
@media screen and (min-width: 768px) {
  .top__about-box {
    padding: 3.2rem 0 3.2rem 4rem;
  }
}

.top__about__flex-parent {
  margin-top: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
}
@media screen and (min-width: 768px) {
  .top__about__flex-parent {
    margin-top: 4rem;
    gap: 4rem;
  }
}

.top__about__flex-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
}
@media screen and (min-width: 768px) {
  .top__about__flex-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 4rem;
  }
  .top__about__flex-child > div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.top__company__inner {
  padding-left: 2.5rem;
  padding-right: 3rem;
}
@media screen and (min-width: 768px) {
  .top__company__inner {
    padding-inline: 3rem;
    max-width: 126rem;
    margin-inline: auto;
  }
}

.top__company {
  padding-top: 6rem;
}
@media screen and (min-width: 768px) {
  .top__company {
    padding-top: 12rem;
  }
}
.top__company h3 {
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .top__company h3 {
    font-size: 3.2rem;
  }
}

.top__company__bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

.top__company-location {
  position: relative;
  margin-top: 3.2rem;
  padding-bottom: 7.2rem;
}
@media screen and (min-width: 768px) {
  .top__company-location {
    margin-top: 4rem;
    padding-bottom: 0;
  }
}
.top__company-location .top__company__location-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (min-width: 768px) {
  .top__company-location .top__company__location-btn {
    top: 0;
    bottom: auto;
  }
}

.top__company-environment {
  position: relative;
  margin-top: 3.2rem;
  padding-bottom: 7.2rem;
}
@media screen and (min-width: 768px) {
  .top__company-environment {
    margin-top: 4rem;
    padding-bottom: 8.8rem;
  }
}
.top__company-environment .top__company__environment-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

.top__company-grid {
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8rem;
}
@media screen and (min-width: 768px) {
  .top__company-grid {
    margin-top: 4rem;
    gap: 2rem;
  }
}

.top__company__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8rem;
}
@media screen and (min-width: 768px) {
  .top__company__grid {
    gap: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .top__company__grid-middle {
    grid-template-columns: 74fr 44fr;
  }
  .top__company__grid-bottom {
    grid-template-columns: 44fr 74fr;
  }
}
.top__company__grid-box {
  position: relative;
  overflow: hidden;
}

.top__company__grid__box-image {
  width: 100%;
}

.top__company__grid__box-text {
  position: absolute;
  bottom: 1.6rem;
  left: 0;
  width: 100%;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .top__company__grid__box-text {
    bottom: 2rem;
  }
}
.top__company__grid__box-text h4, .top__company__grid__box-text p {
  background-color: #FF8426;
  color: #FFFFFF;
  padding: 0.4rem 2.4rem 0.4rem 1.6rem;
  letter-spacing: 0.1em;
}
.top__company__grid__box-text h4 {
  font-size: 2rem;
  -webkit-transform: translateY(-0.8rem);
          transform: translateY(-0.8rem);
}
@media screen and (min-width: 768px) {
  .top__company__grid__box-text h4 {
    font-size: 2.4rem;
  }
}

.top__company-flex {
  margin-top: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
}
@media screen and (min-width: 768px) {
  .top__company-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 4rem;
    gap: 2.5rem;
  }
}

.top__company__flex-box {
  padding: 1.6rem 7rem 1.6rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4rem;
}
@media screen and (min-width: 768px) {
  .top__company__flex-box {
    padding: 3.2rem 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 2.4rem;
  }
}
.top__company__flex-box p {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #FF8426;
}

.top__company__flex__box-image {
  width: 7.8rem;
}
@media screen and (min-width: 768px) {
  .top__company__flex__box-image {
    width: 14rem;
  }
}

.top__career {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media screen and (min-width: 768px) {
  .top__career {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}

.top__career-grid {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
}
@media screen and (min-width: 768px) {
  .top__career-grid {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    -webkit-column-gap: 6rem;
       -moz-column-gap: 6rem;
            column-gap: 6rem;
  }
}

@media screen and (min-width: 768px) {
  .top__career__grid-box {
    width: 36rem;
    position: relative;
  }
}

.top__career__grid__box-image {
  width: 24rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .top__career__grid__box-image {
    width: 100%;
  }
}

.top__career__grid__box-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
  margin-top: 1.6rem;
  color: #FF8426;
  border-bottom: 1px solid #FF8426;
}
@media screen and (min-width: 768px) {
  .top__career__grid__box-number {
    position: absolute;
    top: 1rem;
    left: 2rem;
    border-bottom: none;
    color: #FFFFFF;
  }
}
.top__career__grid__box-number h3 {
  font-size: 5rem;
  letter-spacing: -0.02em;
}
.top__career__grid__box-number p {
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
}
.top__career__grid__box-number p span {
  font-size: 1.6rem;
}

.top__career__grid__box-text {
  margin-top: 1.6rem;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .top__career__grid__box-text {
    width: 100%;
    background-color: #FFFFFF;
    padding: 2rem;
    margin-top: 0;
    border-radius: 0 0 2rem 2rem;
  }
}
.top__career__grid__box-text-title {
  font-size: 2rem;
  font-weight: 700;
}
.top__career__grid__box-text-content {
  margin-top: 1.4rem;
}

.top__career__grid__box-btn {
  margin-top: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (min-width: 768px) {
  .top__career__grid-box:nth-child(3n+2) {
    margin-top: 12rem;
  }
}
.top__recruit h2 {
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .top__recruit {
    padding-top: 12rem;
  }
}

.top__recruit__box {
  padding: 10rem 0 8rem;
  font-weight: 700;
  position: relative;
  border-radius: 4rem 4rem 0 0;
}
@media screen and (min-width: 768px) {
  .top__recruit__box {
    padding: 7.2rem 0 10rem;
  }
}
.top__recruit__box .inner {
  position: relative;
}
.top__recruit__box-number {
  font-size: 4rem;
  line-height: 1;
  position: absolute;
  top: -4.5rem;
  right: 2.75rem;
}
@media screen and (min-width: 768px) {
  .top__recruit__box-number {
    top: 0rem;
    right: 3rem;
  }
}
.top__recruit__box-outline {
  font-size: 2rem;
  letter-spacing: 0.1em;
  position: relative;
  padding-left: 2rem;
}
@media screen and (min-width: 768px) {
  .top__recruit__box-outline {
    font-size: 2.4rem;
  }
}
.top__recruit__box-outline::before {
  content: "";
  display: block;
  background-color: #FFFFFF;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.top__recruit__box-title {
  font-size: 2rem;
  margin-top: 1.6rem;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .top__recruit__box-title {
    font-size: 3.2rem;
    margin-top: 2.4rem;
  }
}
.top__recruit__box-content {
  font-size: 1.6rem;
  margin-top: 1.6rem;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 768px) {
  .top__recruit__box-content {
    margin-top: 2.4rem;
  }
}
.top__recruit__box-btn {
  margin-top: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (min-width: 768px) {
  .top__recruit__box-btn {
    margin-top: 2.4rem;
  }
}

.color-gray-bg .top__recruit__box-outline::before {
  background-color: #FF8426;
}

.top__recruit__box-negative-margin {
  margin-top: -4rem;
}

.top__join-the-team {
  padding: 2rem 0;
}
@media screen and (min-width: 768px) {
  .top__join-the-team {
    padding: 8rem 0;
  }
}
.top__join-the-team p {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1;
  color: rgba(137, 74, 35, 0.2);
}
@media screen and (min-width: 768px) {
  .top__join-the-team p {
    font-size: 12rem;
  }
}/*# sourceMappingURL=style.css.map */