.btn-entry {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 40px;
  border: 2px solid $color-white;
  
  background: linear-gradient(90deg,#FF5A37 0%, #FFDF75 100%);
  
  color: $color-white;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  
  @include transition;

  &:hover {
    color: $color-hover;
    background: $color-white;
    border: 2px solid $color-hover;
  }
}

// エントリーボタン
.btn-header {
  width: 11rem;
  height: 3.6rem;
  @include pc {
    width: 14.2rem;
    height: 4.4rem;
  }
}

.btn-footer {
  width: 14.2rem;
  height: 4.4rem;
  @include pc {
    width: 14.2rem;
    height: 4.4rem;
  }
}

.btn-hamburger {
  width: 100%;
  height: 4.4rem;
    
}
