// entry------------------------------------
.entry {
    position: relative;

    .entry-image {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(41, 41, 41, 0.5); // #292929 50%
            z-index: 1;
            pointer-events: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}

.entry-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    z-index: 10;
    

    p,h2 {
        color: $color-white;
        text-align: center;
        letter-spacing: 0.1em;
        font-weight: 700;

    }


    &-title {

        font-size:6.4rem;
        @include pc {
            font-size: 10rem;
        }
    }

}

.btn-entry-part {
    margin: 2.4rem auto 0;
}