// ハンバーガーメニュー（Component）
// 再利用可能な見た目の定義のみを置く。レイアウト依存の調整は layout 側へ。

.hamburger {
    position: relative;
    width: 3rem;
    height: 1.6rem;
    cursor: pointer;

    /* active状態 */
    &.active {
        .hamburger-line {
            background: transparent;

            &::before {
                top: 0;
                transform: rotate(28deg);
            }

            &::after {
                top: 0;
                transform: rotate(-28deg);
            }
        }
    }
}


/* 三本線 */
.hamburger-line,
.hamburger-line::before,
.hamburger-line::after {
    position: absolute;
    left: 0;
    width: 3rem;
    height: 0.1rem;
    background-color: $color-text;
    @include transition;
}

.hamburger-line {
    &::before,
    &::after {
        content: "";
        left: 0;
    }

    &::before {
        top: -0.8rem;
    }

    &::after {
        top: 0.8rem;
    }
}


// ハンバーガーメニュー
.hamburger-menu {
    position: fixed;
    top: 5.6rem;
    right: 0;
    width: 100%;
    height: calc(100vh - 5.6rem); // 画面高さからヘッダー分を引く
    overflow-y: auto; // スクロール可能にする
    background: $color-gray;
    @include transition;
    z-index: 999;
    transform: translateX(100%);

    padding: 5rem 2.75rem;
    
    &.active {
        transform: translateX(0);
    }
}
    
/* ハンバーガー背景 */
.hamburger-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1001;
    pointer-events: none;

    &.active {
        pointer-events: auto;
    }
}

// ハンバーガーメニュー内容

.header__wrap {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding-bottom: 2.4rem;
    
}

.header__content-box {

    p {
        letter-spacing: 0.1em;
        font-weight: 700;
        border-bottom: 0.1rem solid $color-text;
        padding-bottom: 0.8rem;

    span {
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 0;
    }

    }
    

    a {
        font-weight: 500;
        font-size: 1.4rem;
        @include transition;

        &:hover {
            @include hover-opacity;
        }

    }
    
}

.header__content-outline {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1.2rem;
        height: 1.4rem;
        background-image: url('/image/common/logo_accordion-toggle_hamburger.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 0.3s ease;
    }
}

.header__accordion-content {    
    padding-top: 0.8rem;
    display: none; // 初期状態は非表示
}

// アコーディオン開閉時の矢印回転
.header__content-box.is-open {
    .header__content-outline::after {
        transform: translateY(-50%) rotate(180deg);
    }
}


