// FV-------------------------------------------
.top__fv {
    padding-top: 7.6rem;
    padding-bottom: 6rem;
    position: relative;

    @include pc {
        padding-top: 15.4rem;
        padding-bottom: 12.5rem;
    }





}

.top__fv-title {
    position: absolute;
    top: 3.2rem;
    left: 50%;
    transform: translate(-50%, 0);
    transform-origin: top center;
    width: vw(260, 375);
    margin: 0 auto;
    z-index: 100;

    @include pc {
        top: 3.9rem;
        width: vw(650, 1400);
    }
}

.top__fv-image {
    width: 100%;
}

// 縦書き

.top__vertical-writing {
    position: relative;
}

.top__vertical-writing__bg {
    position: absolute;
    top: -20rem;
    right: 0;
    width: 16rem;
    z-index: -1;

    @include pc {
        top: -36rem;
        width: 39rem;
    }
}

.top__vertical-writing .inner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    p {
        writing-mode: vertical-rl;
        line-height: calc(20rem / 12rem);
        letter-spacing: 0.4em;
        font-size: 2rem;
        font-weight: 700;

        @include pc {
            font-size: 4rem;
            // line-height: calc(40rem / 32rem);

        }
    }

}

// vision-------------------------------------------
.top__vision {
    margin-top: -6rem;
    padding-bottom: 6rem;
    position: relative;

    @include pc {
        margin-top: -32rem;
        padding-bottom: 12rem;
    }


    p {
        margin-top: 2.4rem;
        line-height: 2;
        letter-spacing: 0.1em;
        font-weight: 700;

        @include pc {
            font-size: 2rem;
        }
    }
}

.top__vision__bg1 {
    position: absolute;
    top: -15rem;
    left: 0;
    width: 15.7rem;
    z-index: -1;

    @include pc {
        top: -26rem;
        left: 20rem;
        width: 37rem;
    }
}

.top__vision__bg2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 13.8rem;
    z-index: -1;

    @include pc {
        width: 29.4rem;
    }
}


// about-------------------------------------------
.top__about {
    // 背景画像設定
    background-image: url(../image/top/bg_top_about_sp.png);
    background-size: 100% auto; // 幅100%で高さを自動（比率通り）
    background-repeat: no-repeat;

    padding-top: 6.5rem;
    padding-bottom: 6rem;

    @include pc {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    // 背景画像 + オーバーレイ
    background-image: linear-gradient(rgba(69, 66, 65, 0.5), rgba(69, 66, 65, 0.5)),url(../image/top/bg_top_about_sp.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top__about-box {
    padding: 3.2rem 1.95rem 6.5rem;

    @include pc {
        padding: 3.2rem 0 3.2rem 4rem;
    }
}

.top__about__flex-parent {
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    @include pc {
        margin-top: 4rem;
        gap: 4rem;

    }
}

.top__about__flex-child {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;


    @include pc {
        flex-direction: row;
        justify-content: space-between;

        gap: 4rem;
        
        // 直下のdiv (c-boxなど) を均等に伸ばす
        > div {
            flex: 1;
        }
    }
}

// company-------------------------------------------
.top__company__inner {
    padding-left: 2.5rem;
    padding-right: 3rem;

    @include pc {
        padding-inline: 3rem;
        max-width: 126rem;
        margin-inline: auto;
    }
}



.top__company {
    position: relative;
    padding-top: 6rem;
    @include pc {
        padding-top: 12rem;
    }

    h3 {
        font-size: 2rem;
        font-weight: 700;
        @include pc {
            font-size: 3.2rem;
        }
    }

    
}

.top__company__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}

// location
.top__company-location {
    margin-top: 3.2rem;
    @include pc {
        margin-top: 4rem;
    }
}

.top__company-grid {
    margin-top: 2.4rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.8rem;
    @include pc {
        margin-top: 4rem;
        gap: 2rem;
    }
}

// gridの配置
.top__company__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.8rem;
    @include pc {
        gap: 2rem;
    }

}

@include pc {
    .top__company__grid-middle {
        grid-template-columns: 74fr 44fr;
    }

    .top__company__grid-bottom {
        grid-template-columns: 44fr 74fr;
    }
}

// grid-boxの構成
.top__company__grid-box {
    position: relative;
    overflow: hidden;
}

.top__company__grid__box-image {
    width: 100%;
}

.top__company__grid__box-text {
    position: absolute;
    bottom: 1.6rem;
    left: 0;
    width: 100%;
    font-weight: 700;
    @include pc {
        bottom: 2rem;
    }
    
    display: flex;
    flex-direction: column; 
    align-items: flex-start;

    h4,p {
        background-color: $color-bg-accent;
        color: $color-white;
        padding: 0.4rem 2.4rem 0.4rem 1.6rem;
        letter-spacing: 0.1em;
    }

    h4 {
        font-size: 2rem;
      
        transform: translateY(-0.8rem);
        
        @include pc {
            font-size: 2.4rem;
        }
    }


}

    