// FV
.top__fv {
    padding-top: 7.6rem;
    padding-bottom: 6rem;
    position: relative;

    @include pc {
        padding-top: 15.4rem;
        padding-bottom: 12.5rem;
    }
    



    h2 {
        margin-top: 63.6rem;
        @include pc {
            margin-top: 68.5rem;
        }
    }

    p {
        margin-top: 2.4rem;
        line-height: 2;
        letter-spacing: 0.1em;
    }
}

.top__fv-title {
    position: absolute;
    top: 3.2rem;
    left: 50%;
    transform: translate(-50%, 0);
    transform-origin: top center;
    width: vw(260, 375);
    margin: 0 auto;
    z-index: 100;

    @include pc {
        top: 3.9rem;
        width: vw(650, 1400);
    }
}

.top__fv-image {
    width: 100%;
}

// 縦書き
.top__vertical-writing .inner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    .top__vertical-writing-box {
        position: absolute;
        top: 0;
        right: 0;
    }
    

    p {
        writing-mode: vertical-rl;
        line-height: calc(20rem / 12rem);
        letter-spacing: 0.4em;
        font-size: 2rem;
    }
    
}


// about
.top__about {
    // 背景画像設定
    background-image: url(../image/top/bg_top_about_sp.png);
    background-size: 100% auto; // 幅100%で高さを自動（比率通り）
    background-repeat: no-repeat;

    padding-top: 6rem;
    padding-bottom: 6rem;
    
    
}