.footer__before__content {
    position: relative;

    .footer__before__content-image {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(41, 41, 41, 0.5); // #292929 50%
            z-index: 1;
            pointer-events: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}

.footer__before__content__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    z-index: 10;
    

    p {
        color: $color-white;
        text-align: center;
        letter-spacing: 0.1em;
        font-weight: 700;

    }


    &-title {
        font-size:6.4rem;
        @include pc {
            font-size: 10rem;
        }
    }

}

.btn-footer {
    margin: 2.4rem auto 0;
}

footer {
    padding: 2.4rem 0 1.6rem;
    background-color: $color-footer;
    color: $color-white;
    @include pc {
        padding:4rem 0 2.4rem;
    }
}