

// footer------------------------------------
.footer {
    background-color: $color-footer;
    color: $color-white;
    padding: 2.4rem 0 1.6rem;
    @include pc {
        padding:4rem 0 2.4rem;

    }

}


// 配列を整える
.footer__wrap {

    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    @include pc {

        flex-direction: row;
        gap: 8rem;
    }
}

.footer__content {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    @include pc {
        gap: 4rem;
    }
}

// 中身を整える
.footer__content-box{
    letter-spacing: 0.1em;

    p {
        position: relative;
        padding-left: 1.2rem;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1;
        cursor: pointer;
      
        @include pc {
            font-size: 1.6rem;
            cursor: default;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 0.3rem;
            height: 1.6em;
            background-color: $color-white;

            @include pc {
                width: 0.4rem;
                height: 2em;
            }
        }

        @include sp {
            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 1.2rem;
                height: 1.4rem;
                background-image: url('/image/common/logo_accordion-toggle_footer.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                transition: transform 0.3s ease;
            }
        }
    }

    // 開いた状態：三角形を反転
    &.is-open {
        @include sp {
            p::after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    ul {
        margin-top: 1.6rem;
   
        @include pc {
            margin-top: 1.4rem;
        }
        li {
            a {
                font-size: 1.4rem;
            }
        }
    }

    // SPのみアコーディオン機能
    @include sp {
        .footer__accordion-content {
            display: none;
        }

        &.is-open {
            .footer__accordion-content {
                display: block;
            }
        }
    }

    a {
        @include transition;

        &:hover {
            @include hover-opacity;
        }
    }
}
.footer__logo {
    margin-top: 1.2rem;
    width: 14rem;
    @include pc {
        margin-top: 1.1rem;
        margin-inline: auto;
        width: 11rem;
    }

    a {
        @include transition;

        &:hover {
            @include hover-opacity;
            @include hover-bigger;
        }
    }
}

.footer__copyright {
    background-color: $color-gray;
    color: $color-text;
    padding: 2rem 0;

    p {
        font-size: 1.4rem;
        text-align: center;
        letter-spacing: 0.1em;
        font-weight: 700;
        line-height: 1;
    }
}