.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: $color-white;
}


.header-content {
    padding-top: 0.5rem;
    padding-inline: 2.8rem;
    height: 5.6rem;

    @include pc {
        padding-top: 1.5rem;
        padding-inline: 10rem;
        height: 9.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header__logo {
    width: 5.2rem;

    @include pc {
        width: 9.2rem;
    }
}

.header__nav ul {
    display: flex;
    gap: 1.8rem;
}

.header__nav ul li {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.5;

    span {
        font-size: 2rem;
        color: $color-accent;
    }
}