.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: $color-base-white;
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2.8rem;
    height: 5.6rem;
    margin: 0 auto;


    @include pc {
        padding-top: 0.3rem;
        padding-inline: 10rem;
        height: 9.2rem;
        max-width: 126rem;
    }
}

.header__logo {
    width: 8rem;
    height: 4rem;

    @include pc {
        width: 11rem;
        height: 6rem;
    }
}


// sp header 配置
.sp__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.6rem;
}

// PC header 配置
@include pc {
    .header__nav ul {
        display: flex;
        gap: 4rem;
    }

    .header__nav ul li {
        text-align: center;
        font-size: 1.6rem;
        letter-spacing: 0.1em;

    span {
        font-size: 1.4rem;
        letter-spacing: 0;

    }
}
}

