// ==========================================================================
// Variables - フォント・カラー・サイズなどの定義
// ==========================================================================

// フォント
// -------------------------

// フォントファミリー
$font-family-base: "YuGothic", "Yu Gothic", "Noto Sans JP", "Hiragino Kaku Gothic ProN", sans-serif;

// カラーパレット
// -------------------------
$color-hover: #FF5A37; // アクセントカラー
$color-accent: #FF8426; // アクセントカラー
$color-text: #454241; // テキスト
$color-base-white: #FAF6F1; // 白
$color-white: #FFFFFF; // 白
$color-gray: #E8DFD4; // グレー

$color-bg: rgba(250, 246, 241, 0.5); // ページ背景



// メディアクエリ
// -------------------------
@mixin sp {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin pc {
    @media screen and (min-width: 768px) {
        @content;
    }
}



// トランジション
// -------------------------
@mixin transition {
    transition: 0.3s ease;
}

@mixin hover-opacity {
    opacity: 0.5;
}

@mixin hover-reversecolor {
    color: $color-main;
    background-color: $color-white;
}

@mixin hover-bigger {
    transform: scale(1.1);
}